<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module">
    import "/node_modules/@polymer/app-layout/app-layout.js";
    import "/node_modules/@polymer/paper-icon-button/paper-icon-button.js";
    import "/node_modules/@polymer/iron-icons/iron-icons.js";
    import '/src/carousel-image.js';
    import '/src/cookbook.js';
    import '/src/recipe.js';
    import '/src/styled-card.js';
    import '/src/titlebar.js';
</script>
<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="/styles/main.css" rel="stylesheet">
<title>Recipes.tech</title>