<app-header reveals>
    <app-toolbar>
        <paper-icon-button icon="menu"></paper-icon-button>
        <div main-title>Recipes.tech</div>
    </app-toolbar>
    <app-drawer id="drawer" swipe-open>
        Nothing to see here!
    </app-drawer>
</app-header>

<script>
    const drawer = document.querySelector('app-drawer');
    document.querySelector('paper-icon-button')
        .addEventListener('click', function() {
            drawer.toggle();
        });

    window.addEventListener('load', () => {
        document.getElementById('splashscreen').classList.add('hide');
    });
</script>