<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module">
    import "/node_modules/@polymer/app-layout/app-layout.js";
    import "/node_modules/@polymer/paper-icon-button/paper-icon-button.js";
    import "/node_modules/@polymer/iron-icons/iron-icons.js";
    import '/src/carousel-image.js';
    import '/src/cookbook.js';
    import '/src/recipe.js';
    import '/src/styled-card.js';
    import '/src/titlebar.js';
    import '/src/unit.js';
</script>
<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="/styles/main.css" rel="stylesheet">
<title>Dishout Recipes</title>
<link rel="manifest" href="/manifest.json">
<link rel="icon"
      type="image/png"
      href="/icons/homescreen32.png">
<meta name="theme-color" content="#0f0">
<base href="/">

<script>
    // Load and register pre-caching Service Worker
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
        navigator.serviceWorker.register('service-worker.js', {
            scope: '/'
        });
        });
    }
</script>