:host {
  display: inline-block;
}

.direction {
  margin-bottom: 24px;
}

@media (max-width: 600px) {
  #card {
    width: 100%;
    margin-left: -8px;
  }
}

input {
  font-family: 'Roboto Slab', serif;
  width: 4em;
}

gantt-table, .gantt-table, .gantt-table-column {
  font-size: 10pt;
}

i.material-icons.header {
  font-size: 12pt;
  vertical-align: middle;
}
