<!-- <app-header>
  <app-toolbar>
      <paper-icon-button icon="menu" style="display:none"></paper-icon-button>
      <a href='/'>Dishout Recipes</a>
      <div main-title>
      </div>
      <div class="sidelinks">
          <input type="search" id="in-search" placeholder="Search" />
          <button id="btn-search">Search</button>
          &emsp;
          <a href='/docs'>Docs</a>
          &emsp;
          <a href='https://github.com/Fleker/git-recipes'>GitHub</a>
      </div>
  </app-toolbar>
  <app-drawer id="drawer" swipe-open style="display:none">
      Nothing to see here!
  </app-drawer>
</app-header> -->
<app-header></app-header>

<div id='splashscreen' #splashscreen>
  Loading the kitchen...
</div>

<div id="spacer"></div>

<router-outlet></router-outlet>
