<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/scaffolding.ejs %>
    <div id='splashscreen'>
        Loading your cookbook...
    </div>

    Hello. You can use this site to browse recipes. You can use Git to create your own!

    <h1>Our top picks</h1>
    <ul>
        <li><a href='/sample/potato-candy'>Potato Candy (sample)</a></li>
        <li><a href='/g/fleker/personal-cookbook/potato-candy'>Potato Candy (via Git)</a></li>
        <li><a href='/sample/cookbook'>Cookbook (sample)</a></li>
        <li><a href='/g/fleker/personal-cookbook/'>Cookbook (via Git)</a></li>
    </ul>
</body>
</html>