<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/scaffolding.ejs %>
    <div id='splashscreen'>
        Loading the kitchen...
    </div>

    <style>
        code {
            white-space: pre;
            background-color: #efefef;
            display: block;
            padding-left: 16px;
            border: solid 1px #cdcdcd;
        }
    </style>
    <styled-card>
            <br>
            Hello. You can use this site to browse recipes. You can use GitHub to create your own!

            <h1>Our top picks</h1>
            <ul>
                <li><a href='/sample/potato-candy'>Potato Candy (sample)</a></li>
                <li><a href='/g/fleker/personal-cookbook/potato-candy'>Potato Candy (via Git)</a></li>
                <li><a href='/sample/cookbook'>Cookbook (sample)</a></li>
                <li><a href='/g/fleker/personal-cookbook/'>Cookbook (via Git)</a></li>
            </ul>

            <h1>Make my own recipes</h1>
            <h2>Cookbook</h2>
            <p>
                All recipes should be defined in a global manifest file called `.recipes.json`. 
                This maps a given key to the relative filepath of your recipe JSON file.
            </p>
            <p>
                The `collections` key allows one to browse a list of all recipes by visiting
                the `/g/{username}/{reponame}` URL.
            </p>
            <code>
{
    "recipes": {
        "potato-candy": "desserts/potatos/candy.json",
        "caramel-apple": "caramel-apple.json"
    },
    "collections": {
        "desserts": {
            "recipes": [{
                "key": "potato-candy",
                "label": "Potato Candy"
            }, {
                "key": "caramel-apple",
                "label": "Caramel Apple"
            }]
        }
    }
}
            </code>
            <p>
                Then, the URL `/g/{username}/{reponame}/potato-candy` would look for a 
                file in the GitHub repo called `desserts/potatos/candy.json`
            </p>
            <p>
                Alternatively, each recipe can be hosted in individual repos.
                In that case, the URL `/g/{username}/{reponame}` would look for a file
                in the repo called `.recipe.json`
            </p>
            <h2>Recipe JSON</h2>
            <p>
                Each recipe exists as a JSON file which is placed in a GitHub repository.
                The specification is below.
            </p>
            <code>
{
    "author": "Nick Felker",
    "recipe": "Potato Candy",
    "spec": "v0.1.0",
    "tags": "potato, candy",
    "servings": 24,
    "prelude": {
        "description": "Potato candy is...",
        "images": [{
            "src": "http://example.com/potato1.png",
            "description": "Potato"
        }],
        "videos": [{
            "youtube": "youtubeid"
        }]
    },
    "steps": [{
        "description": "Cut the potato",
        "ingredients": [{
            "item": "Russet potato",
            "amount": 1,
            "unit": ""
        }],
        "equipment": [{
            "item": "Potato slicer"
        }],
        "prepTime": {
            "amount": 5,
            "unit": "minutes"
        },
        "cookTime": {
            "amount": 0,
            "unit": ""
        },
        "images": [{
            "src": "http://example.com/potato2.png",
            "description": "Sliced potato"
        }],
        "videos": [{
            "youtube": "youtubeid"
        }]
    }, {
        "description": "Mix in powdered sugar until mxied well",
        "ingredients": [{
            "item": "Powdered sugar",
            "min": 4,
            "max": 6,
            "unit": "cups"
        }],
        "equipment": [{
            "item": "Mixing bowl"
        }, {
            "item": "Wooden spoon"
        }],
        "prepTime": {
            "amount": 3,
            "unit": "minutes"
        },
        "cookTime": {
            "amount": 0,
            "unit": ""
        },
        "images": [{
            "src": "http://example.com/potato3.png",
            "description": "Mixed potato"
        }],
        "videos": [{
            "youtube": "youtubeid"
        }]
    }]
}
            </code>
    </styled-card>
</body>
</html>