<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/scaffolding.ejs %>
    <div id='splashscreen'>
        Loading your cookbook...
    </div>

    Hello. You can use this site to browse recipes. You can use Git to create your own!

    <h1>Our top picks</h1>
    <ul>
        <li><a href='/g/fleker/potato'>Potato</a></li>
    </ul>
</body>
</html>