:host {
  display: inline-block;
}

.direction {
  margin-bottom: 24px;
}

@media (max-width: 600px) {
  #card {
    width: 100%;
    margin-left: -8px;
  }
}

input {
  font-family: 'Roboto Slab', serif;
  width: 4em;
}

span.optional {
  font-style: italic;
  font-size: small;
}

.footer i, .footer {
  font-size: small;
}

i.material-icons {
  vertical-align: middle;
}
