<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/scaffolding.ejs %>
    <div id='splashscreen'>
        Loading a bunch of recipes...
    </div>

    <cookbook-body recipe-id="<%= recipeId %>" recipe-data="<%= data %>" stars="<%= stars %>">
    </cookbook-body>
</body>
</html>