<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/scaffolding.ejs %>
    <div id='splashscreen'>
        Loading the kitchen...
    </div>

    <style>
        code {
            white-space: pre;
            background-color: #efefef;
            display: block;
            padding-left: 16px;
            border: solid 1px #cdcdcd;
        }
    </style>
    <styled-card>
            <br>
            <p>
                Hello. You can use this site to browse recipes.
                You can use GitHub to create your own!
            </p>

            <h1>Our top picks</h1>
            <ul>
                <li><a href='/g/fleker/personal-cookbook/'>Cookbook (via Git)</a></li>
                <li><a href='/g/fleker/personal-cookbook/bacon-dressing'>Bacon Dressing JSON (via Git)</a></li>
                <li><a href='/g/fleker/personal-cookbook/crepe'>Crepes YAML (via Git)</a></li>
            </ul>

            <p>
                Visit the <a href='/docs'>Documentation page</a> for information on the specification.
            </p>

            <p>
                This website is funded with affiliate links.
                These links will appear to offer a particular item if you
                don't have it. If you do, you can fully ignore thse links.
            </p>

    </styled-card>
</body>
</html>