<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/scaffolding.ejs %>
    <div id='splashscreen'>
        Loading the kitchen...
    </div>

    <style>
        code {
            white-space: pre;
            background-color: #efefef;
            display: block;
            padding-left: 16px;
            border: solid 1px #cdcdcd;
        }
    </style>
    <styled-card>
            <br>
            Hello. You can use this site to browse recipes. You can use GitHub to create your own!

            <h1>Our top picks</h1>
            <ul>
                <li><a href='/sample/potato-candy'>Potato Candy (sample)</a></li>
                <li><a href='/sample/sweet-crepe'>Sweet Crêpe (sample)</a></li>
                <li><a href='/g/fleker/personal-cookbook/potato-candy'>Potato Candy (via Git)</a></li>
                <li><a href='/sample/cookbook'>Cookbook (sample)</a></li>
                <li><a href='/g/fleker/personal-cookbook/'>Cookbook (via Git)</a></li>
            </ul>

            Visit the <a href='/docs'>Documentation page</a> for information on the specification.
    </styled-card>
</body>
</html>